body{
	margin:0%;
	padding:0%;
	background-image:url("img/second.jpg");
	background-repeat: ;
}
.main {
  	position: absolute;
    top:14%;
    left: 35%;
    z-index: 999;
}
.main h1{
	text-align: center;
    color: #fff;
    font-size: 3em;
    margin-bottom: 1em;
}
.w3layouts_main_grid {
    width: 100%;
    padding: 2em;
    margin: 0 auto;
    background:rgba(8, 8, 8, 0.82);
}
.w3layouts_main_grid  {
    padding: 2em;
    display: block;
}
.w3layouts_main_grid h5{
    color: #FFFFFF;
    font-size: 16px;
    font-style: normal;
    margin: .8em 0 0;
	padding-bottom: 0.5em;
}

.w3layouts_main_grid input[type="text"]{
    outline: none;
    width: 92%;
    background: #fff;
    color:#4B4B4B;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #E7E7E7;
}
.w3layouts_main_grid input[type="email"] {
    outline: none;
    width: 100%;
    background: #fff;
    color:#4B4B4B;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #E7E7E7;
}
.booking-form-head-agile h3 {
    color: #f5f5f5;
    text-align: center;
}
.agileits_grid {
    margin-bottom: 14px;
}
.nam1 {
    float: left;
    width: 49%;
    margin-left: 2%;
}
.nam {
    float: left;
    width: 49%;
}
.agileits_w3layouts_main_gridl{
	float:left;
	width:68%;
}
.agileits_w3layouts_main_gridl input[type="text"],.agileits_w3layouts_main_gridr input[type="time"]{
	width:90% !important;
}
.w3_main_grid{
	margin:2em 0 0;
	padding:2em 0 0;
	border-top:1px solid #fff;
}
.styled-select select{
    overflow: hidden;
	font-size:110%;
	width:90%;
	padding:2%;
}
.pen{
	float:left;
	width:50%;
}
.hab{
	float:left;
	width:50%;
}
.servicio select{
	width:45%;
	padding:1.5%;
	font-size:110%;
}
.precio{
	color:white;
	font-size:130%;
	margin-bottom: 2%;
}
.white{
	color:white;
}
.ch{
	color:white;
}

input[type="checkbox"] + label{
    margin-right:8%;
    cursor:pointer;
}