.contenedor{
	width: 100%;
	float:left;
}
.tablon{
	float:left;
	width:24%;
	height: 500px;;
	margin-left:7%;
	margin-top:2%;
	margin-bottom:1%;
	/*background-color: #F5F5EC;*/
}
.nombre{
	margin-top:2%;
}
.descripcion{
	margin-top:2%;
	margin-left:2%;
}
.titulo{
	margin-top:2%;
}
.imagen{
	border-radius:50%;
}
